@{

    ViewData["Title"] = "Satisfactory - Save file viewer";
}

@if (ViewData["saveFile"] != null)
{
    <div class="row">
        <table class="table table-striped">
            <thead>
                <th>Save file property</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr>
                    <td>File path</td>
                    <td>@Html.Encode(((SaveFile) ViewData["saveFile"]).filepath)</td>
                </tr>
                <tr>
                    <td>Save Header version</td>
                    <td>@Html.Encode(((SaveFile) ViewData["saveFile"]).saveHeaderVersion)</td>
                </tr>
                <tr>
                    <td>Save version</td>
                    <td>@Html.Encode(((SaveFile) ViewData["saveFile"]).saveVersion)</td>
                </tr>
                <tr>
                    <td>Build version</td>
                    <td>@Html.Encode(((SaveFile) ViewData["saveFile"]).buildVersion)</td>
                </tr>
                <tr>
                    <td>World type</td>
                    <td>@Html.Encode(((SaveFile) ViewData["saveFile"]).worldType)</td>
                </tr>
                <tr>
                    <td>World properties</td>
                    <td>@Html.Encode(((SaveFile) ViewData["saveFile"]).worldProperties)</td>
                </tr>
                <tr>
                    <td>Session name</td>
                    <td>@Html.Encode(((SaveFile) ViewData["saveFile"]).sessionName)</td>
                </tr>
                <tr>
                    <td>Play time (in seconds)</td>
                    <td>@Html.Encode(((SaveFile) ViewData["saveFile"]).playTime)</td>
                </tr>
                <tr>
                    <td>Save date</td>
                    <td>@Html.Encode(((SaveFile) ViewData["saveFile"]).saveDate)</td>
                </tr>
                <tr>
                    <td>Session visibility</td>
                    <td>@Html.Encode(((SaveFile) ViewData["saveFile"]).sessionVisibility)</td>
                </tr>
                <tr>
                    <td>World objects memory size</td>
                    <td>@Html.Encode(((SaveFile) ViewData["saveFile"]).worldObjectLength)</td>
                </tr>
                <tr>
                    <td>Number of world objects</td>
                    <td>@Html.Encode(((SaveFile) ViewData["saveFile"]).worldObjectCount)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <h2>World Objects</h2>
        <table class="table table-striped">
            <thead>
                <th>Type ID</th>
                <th>Type path</th>
                <th>Root object</th>
                <th>Instance name</th>
                <th>Object</th>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in ((SaveFile) ViewData["saveFile"]).worldObjects)
                {
                    <tr>
                        <td>@(item.type)</td>
                        <td>@(item.typePath)</td>
                        <td>@(item.id.rootObject)</td>
                        <td>@(item.id.instanceName)</td>
                        <td>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#object-data-@(i)" role="button" aria-expanded="false" aria-controls="object-data-@(i)">View details</button>
                        </td>
                    </tr>
                    <tr class="collapse" id="object-data-@(i)">
                        <td colspan="5">
                            <table>
                                <thead>
                                    <th>Field</th>
                                    <th>Value</th>
                                </thead>
                                <tbody>
                                    @if (item.value.GetType() == typeof(SaveEntity))
                                    {
                                        <tr>
                                            <td>Needs transform ?</td>
                                            <td>@(((SaveEntity) item.value).needTransform)</td>
                                        </tr>
                                        <tr>
                                            <td>Rotation</td>
                                            <td>@(((SaveEntity) item.value).rotation)</td>
                                        </tr>
                                        <tr>
                                            <td>Position</td>
                                            <td>@(((SaveEntity) item.value).position)</td>
                                        </tr>
                                        <tr>
                                            <td>Scale</td>
                                            <td>@(((SaveEntity) item.value).scale)</td>
                                        </tr>
                                        <tr>
                                            <td>Was placed in level ?</td>
                                            <td>@(((SaveEntity) item.value).wasPlacedInLevel)</td>
                                        </tr>
                                    } 
                                    else if (item.value.GetType() == typeof(SaveComponent)) {
                                        <tr>
                                            <td>Parent entity name</td>
                                            <td>@(((SaveComponent) item.value).parentEntityName)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    
                    i++;
                }
            </tbody>
        </table>
    </div>
} else {
    <h1>Save file not found</h1>
}